.dark-mode{
    background-color: rgb(36, 34, 34);
   
    p{
        color: var(--blanco);
    }
    a,h1,h2,h3{
        color: var(--gris);
    }
    .anuncio{
        background-color: var(--grisOscuro);
        border: 1px solid  var(--grisOscuro);
        .icono{
            filter: invert(100%);
        }
    }
    .texto-nosotros blockquote{
        color: var(--blanco);
    }
    .formulario{
        legend, label, p{
            color: white;
        }
        input:not([type="submit"]),
        textarea,
        select{
            background-color: var(--grisOscuro);
            color: var(--blanco);
            border:  1px solid var(--grisOscuro);
        }

    }
}